body{
	font-family: 'Roboto', sans-serif;
	background: #FFF;
	color: #000;
	background: url("../images/paper_texture.jpg");
}

.header{
	padding-top: 20px;
	position: fixed;
	height: 80px;
	top: 0;
	z-index: 9999;
	background: url("");
/*	border-bottom: 4px dotted #FFD561;*/
}

.header ul li a, .header ul li a:focus{
	text-transform: uppercase;
	color: #2A2419;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	opacity: 1;
}

.header ul li a:hover{
	background: none;
	cursor: hand;
	cursor: pointer;
	color: #555;
	opacity: 0.5;
}

.container {
	margin-top: 0px;
}

a{
	color: #200900;
	text-decoration: underline;
}

a:hover, a:focus{
	color: #422D1B;
}

.btn{
	background-color: none;
	border: 2px solid #222;
	color: #222;
	opacity: 1;
	font-family: 'Open Sans Condensed', sans-serif;
	box-shadow: 3px 3px 0px #333;
    -webkit-box-shadow: 3px 3px 0px #333;
    -moz-box-shadow: 3px 3px 0px #333;
}

.btn:hover, .btn:focus{
	
}

.btn:active{
	background-color: none;
	color: #222;
	opacity: 1;
    -webkit-box-shadow: 0px 0px 0px #333;
    -moz-box-shadow: 0px 0px 0px #333;
	box-shadow: 0px 0px 0px #333;
	transform: translateY(3px);
}

.btn-lg{
/*	padding: 20px 80px;*/
	font-size: 28px;
	margin: 10px;
	width: 150px;
}

.anchor{
  display: block;
  height: 30px; 
  margin-top: -30px; 
  visibility: hidden;
}

h1.main-header{
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 40px;
/*	font-weight: bold;*/
}

p.sub-header{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif !important;
}

h1{
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.polaroid {
	/*border: 1px solid #333;
    -webkit-box-shadow: 3px 3px 0px #333;
    -moz-box-shadow: 3px 3px 0px #333;
    box-shadow: 3px 3px 0px #333;*/
/*	padding: 20px;*/
/*	background: #fff;*/
	margin-bottom: 40px;
	border-radius: 4px;
    border: 1px solid #333;
    border-radius: 1px;
}

.polaroid img {
  width: 100%;
	/*border: 6px solid #CBB17C;*/
 
}

.polaroid p.lead {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.footer{
	text-align: center;
	width: 100%;
	height: 50px;
	font-size: 12px;
	margin-top: 30px;
	font-weight: normal;
}

@media (min-width: 768px) {
	.container {
		margin-top: 100px;
	}
	h1{
		font-size: 58px;
	}
	h1.main-header{
		font-size: 58px;
	}
	p.sub-header{
		font-size: 26px;
	}
}


